.comment{
  display: flex;
  gap: 1rem;
}

.commentBox{
  flex: 1;
}

.commentBox > footer{
  color: var(--gray-400);
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.commentBox > footer > button{
  background-color: transparent;
  border: none;
  color: var(--gray-400);
  font-weight: bold;
  display: flex;
  align-items: center;
}

.commentBox > footer > button > svg{
 margin-right: 0.625rem;
}

.commentBox > footer > span::before {
  content: "\2022";
  padding: 0 0.25rem ;
} 

.content{
  padding: 1rem;
  background-color: var(--gray-700);
  border-radius: 0.5rem;
}

.content > p{
  margin-bottom: 1.5rem;
  line-height: 1.5;
  color: var(--gray-300);
}

.content > header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.content > header > button{
  background-color: transparent;
  border: none;
  color: var(--gray-400);
  line-height: 0px;
  font-size: 0;
  border-radius: 2px;
  cursor: pointer;
}

.content > header > button:hover{
  color: var(--red-500);
}

.authorAndTime strong{
  display: block;
  color: var(--white);
  line-height: 1.5;
}

.authorAndTime time{
  display: block;
  color: var(--gray-400);
  font-size: small;

}






